@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #d17700;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Добавить анимацию к "Содержимое страницы" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

body {
    font-family: "FranklinGot", Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    font-family: 'FranklinGot', sans-serif;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    z-index: 2;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.white-btn {
    color: white;
}

.white-btn:visited {
    color: white;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e68910;
    text-shadow: 0 0 3px #d17700;

}

.menu li a:active {
    transform: scale(1.1);
}

.menu li:nth-child(2) {
    animation-delay: 0.8s;
}

.menu li:nth-child(3) {
    animation-delay: 1.2s;
}

.menu li:nth-child(4) {
    animation-delay: 1.6s;
}

.menu li:nth-child(5) {
    animation-delay: 2.0s;
}

.menu li:nth-child(6) {
    animation-delay: 2.4s;
}

.main {
    width: 100%;
    height: 1080px;
    background: url(../img/guy.png) 90% 100%/auto 85% no-repeat, url(../img/mainbackground.png) center/cover no-repeat;
}

.title_container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    opacity: 0;

}

.title_container h1 {
    font-family: 'FranklinGot', sans-serif;
    font-size: 60px;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}


@media (max-width: 991px) {

    .title_container,
    .title_container h4,
    .title_container input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .main {
        position: relative;
    }

    .title_container input {
        border: 2px solid white;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}


@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.about_me_container {
    width: 100%;
    height: 717px;

}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about_me_container h2 {
    padding-top: 100px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

@media (max-width: 1440px) {
    .about_me_container h2 {
        padding-top: 90px;
    }
}

@media (max-width: 1024px) {
    .about_me_container h2 {
        padding-top: 65px;
    }
}


@media (max-width: 800px) {
    .about_me_container h2 {
        padding-top: 40px;
    }
}

#line {
    width: 72px;
    height: 4px;
    background: #d17700;
    margin: 31px auto auto auto;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.guyround {
    display: block;
    margin: 59px auto auto auto;
    text-align: center;
    -webkit-animation: comming ease 4s;
    -o-animation: comming ease 4s;
    animation: comming ease 4s;

}

.about_me_container p {
    margin: 22px auto 0px auto;
    padding-bottom: 30px;
    width: 40%;
    color: #3f495a;
    -webkit-animation: a_pmove ease 2s;
    -o-animation: a_pmove ease 2s;
    animation: a_pmove ease 2s;
}

@media (max-width: 425px) {
    .about_me_container p {
        width: 70%;
    }
}

@keyframes a_pmove {
    from {
        margin-left: -500px;
        opacity: 0;
    }

    to {
        margin-left: 30%;
        opacity: 1;
    }
}

.about_me_container a {
    display: block;
    text-align: center;
    width: 158px;
    margin: auto;
    padding: 5px 7px 7px;
    margin-bottom: 98px;
    color: #6f707e;
    border: 2px solid #6f707e;
    border-radius: 5px;
    -webkit-animation: comming 1s forwards 2s;
    -o-animation: comming 1s forwards 2s;
    animation: comming 1s forwards 2s;
    opacity: 0;
    text-decoration: none;
}

.about_me_container a:hover {
    transform: scale(1.06, 1.06);
    transition: all 0.1s;
}

.about_me_container a:active {
    transform: scale(1.1);
}

.wican_container {
    width: 100%;
    height: 523px;
}

.wican_container h2 {
    padding-top: 100px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

@media (max-width: 1024px) {
    .wican_container h2 {
        padding-top: 90px;
    }
}


@media (max-width: 800px) {
    .wican_container h2 {
        padding-top: 65px;
    }
}

.wican {
    margin: 106px 0 auto 0;
    text-align: center;
    -webkit-animation: wicanmove 2s forwards 0.7s;
    -o-animation: wicanmove 2s forwards 0.7s;
    animation: wicanmove 2s forwards 0.7s;
    opacity: 0;
}

@keyframes wicanmove {
    from {
        margin-top: 0px;
        opacity: 0;
    }

    to {
        margin-top: 106px;
        opacity: 1;
    }
}

.wican img {
    margin-bottom: 35px;
}

.wican ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.wican li {
    color: #d17700;
    font-size: 16px;
    flex-basis: 14.3229166%;
}

@media (max-width: 1384px) {
    .wican ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .wican li {
        flex-basis: 22%;
        padding-bottom: 60px
    }
}

@media (max-width: 768px) {
    .wican_container {
        height: 703px;
    }


    .wican li {
        flex-basis: 38%;
    }

}

@media (max-width: 425px) {
    .wican_container {
        height: 1253px;
    }


    .wican li {
        flex-basis: 70%;
        padding-bottom: 60px;
    }
}

.wican p {
    color: #263244;
    margin-top: 15px;
}

.cases {
    height: 1150px;
    width: 100%;
}

@media (max-width: 1584px) {
    .cases {
        height: 1050px;
    }
}

@media (max-width: 1384px) {
    .cases {
        height: 950px;
    }
}

@media (max-width: 1124px) {
    .cases {
        height: 1150px;
    }
}

@media (max-width: 1024px) {
    .cases {
        height: 1100px;
    }
}

@media (max-width: 965px) {
    .cases {
        height: 1050px;
    }
}

@media (max-width: 768px) {
    .cases {
        height: 950px;
    }
}

@media (max-width: 425px) {
    .cases {
        height: 850px;
    }
}

.cases h2 {
    padding-top: 110px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.cases p {
    text-align: center;
    color: #263244;
    margin-top: 36px;
    -webkit-animation: comming ease 4s;
    -o-animation: comming ease 4s;
    animation: comming ease 4s;
}

.cases img {
    width: 60.885416%;
    margin: 43px 19.55729%;
    -webkit-animation: scale ease 3s;
    -o-animation: scale ease 3s;
    animation: scale ease 3s;
}

@media (max-width: 1124px) {
    .cases img {
        width: 90.885416%;
        margin-left: 4.55729%;
        margin-right: 4.55729%;
    }
}

@keyframes scale {
    from {
        transform: scale(0.2, 0.2);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.cases ul {
    display: flex;
    width: 80.44271%;
    margin: auto 19.55729%;

}

.li_1 {
    flex: 1;
    -webkit-animation: comming 1s forwards 2.4s;
    -o-animation: comming 1s forwards 2.4s;
    animation: comming 1s forwards 2.4s;
    opacity: 0;


}

@keyframes li_2move {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.li_1 h4 {
    color: #263244;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.li_1 div {
    color: #263244;
    line-height: 2;
}

.li_1 a {
    height: 44px;
    width: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.li_1 a:hover {
    background: #ff9102;
    color: #263244;
    box-shadow: 0 0 16px #ff960d;
    transition: all 0.1s;
}

.li_1 a:active {
    background: #ffaf02;
    box-shadow: 0 0 30px #ffaf02;
    transition: all 0.1s;
}

.li_2 {
    flex: 3;
    margin-right: 29.325%;
    /*width: 46.04166666%;*/
    -webkit-animation: li_2move 1s forwards 2s;
    -o-animation: li_2move 1s forwards 2s;
    animation: li_2move 1s forwards 2s;
    opacity: 0;
}

.li_2 h4 {
    color: #263244;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
}

.li_2 div {
    color: #263244;
}

@media (max-width: 1264px) {
    .cases ul {
        width: 90%;
        margin: auto 5%;
    }

    .li_2 {
        margin-right: 0;
    }

    .li_1 {
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .cases ul {
        width: 100%;
        margin: auto 0;

    }

    .li_1 {}

    .li_1 a {
        width: 151px;
    }

}

.price {
    height: 854px;
    width: 100%;
}

.price h2 {
    padding-top: 100px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.price h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #263244;
    font-weight: 500;
}

.params {
    width: 49.6016%;
    padding-left: 0;
    /* width: 891px; */
    margin: 58px 26.796875% auto 26.796875%;

}

.params li:nth-child(1) {
    -webkit-animation: priceLiMove 1s forwards 0.8s;
    -o-animation: priceLiMove 1s forwards 0.8s;
    animation: priceLiMove 1s forwards 0.8s;
    opacity: 0;
}

.params li:nth-child(2) {
    -webkit-animation: priceLiMove 1s forwards 1s;
    -o-animation: priceLiMove 1s forwards 1s;
    animation: priceLiMove 1s forwards 1s;
    opacity: 0;
}

.params li:nth-child(3) {
    -webkit-animation: priceLiMove 1s forwards 1.2s;
    -o-animation: priceLiMove 1s forwards 1.2s;
    animation: priceLiMove 1s forwards 1.2s;
    opacity: 0;
}

@keyframes priceLiMove {
    from {
        margin-left: -26.796875%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }

}

.params select {
    color: #737373;
    background-color: #eeeeee;
    height: 57px;
    width: 100%;
    padding-left: 24px;
    margin-top: 22px;
    margin-bottom: 49px;
    font-size: 15px;
}

#line2 {
    width: 49.6016%;
    height: 2px;
    margin: -13px 26.796875% auto 26.796875%; /* 28.296875%*/ 
    background-color: #d1d1d1;
    -webkit-animation: comming 1s forwards 2s;
    -o-animation: comming 1s forwards 2s;
    animation: comming 1s forwards 2s;
    opacity: 0;

}

.total {
    margin-top: 20px;
    color: #263244;
    font-size: 17px;
    font-weight: 500;
    -webkit-animation: comming 1s forwards 2s;
    -o-animation: comming 1s forwards 2s;
    animation: comming 1s forwards 2s;
    opacity: 0;

}

.total ul {
    padding-left: 0;
    width: 49.6016%;
    margin: 0px 26.796875% auto 26.796875%;
    text-align: justify;
}

@media (max-width: 1024px) {
    .total ul, #line2, .params {
        width: 69.6016%;
        margin-left: 15.1992%;
        margin-right: 15.1992%;
    }
}

.left {
    float: left;
    text-align: left;

}

.right {
    text-align: right;
    font-weight: 700;
}

.statistics_container {
    width: 100%;
    height: 523px;
}

.statistics_container h2 {
    padding-top: 100px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

@media (max-width: 1024px) {
    .statistics_container h2 {
        padding-top: 90px;
    }
}


@media (max-width: 800px) {
    .statistics_container h2 {
        padding-top: 65px;
    }
}

.statistics {
    margin: 106px 0 auto 0;
    text-align: center;
    -webkit-animation: wicanmove 2s forwards 0.7s;
    -o-animation: wicanmove 2s forwards 0.7s;
    animation: wicanmove 2s forwards 0.7s;
    opacity: 0;
}

.statistics img {
    margin-bottom: 35px;
}

.statistics ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.statistics li {
    flex-basis: 14.3229166%;
    font-size: 20px;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: bolder;
}

@media (max-width: 1384px) {
    .statistics ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .statistics li {
        flex-basis: 22%;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .statistics_container {
        height: 703px;
    }


    .statistics li {
        flex-basis: 38%;
    }

}

@media (max-width: 425px) {
    .statistics_container {
        height: 1253px;
    }


    .statistics li {
        flex-basis: 70%;
        padding-bottom: 60px;
    }
}

.statistics p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.reviews {
    height: 662px;
    width: 100%;
    background: #fff;
}

@media (max-width: 1720px) {
    .reviews {
        height: 662px;
    }
}

@media (max-width: 650px) {
    .reviews {
        height: 682px;
    }
}

@media (max-width: 581px) {
    .reviews {
        height: 702px;
    }
}

@media (max-width: 479px) {
    .reviews {
        height: 722px;
    }
}

.reviews h2 {
    padding-top: 107px;
    color: #263244;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.reviews img {
    display: block;
    margin: 58px auto 35px auto;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.reviews div:not(#line) {
    width: 35.9375%;
    margin: auto 32.03125%;
    text-align: center;
    -webkit-animation: revDivMove 1s forwards 1s;
    -o-animation: revDivMove 1s forwards 1s;
    animation: revDivMove 1s forwards 1s;
    opacity: 0;
}

@keyframes revDivMove {
    from {
        opacity: 0;
        margin-left: 0%;
    }

    to {
        opacity: 1;
        margin-left: 32.03125%;
    }

}

@media (max-width: 1424px) {
    .reviews div:not(#line) {
        width: 75.9375%;
        margin: auto 12.03125%;
    }

    @keyframes revDivMove {
        from {
            opacity: 0;
            margin-left: 0%;
        }
    
        to {
            opacity: 1;
            margin-left: 12.03125%;
        }
    }
}


.reviews p {
    margin-top: 37px;
    margin-bottom: 48px;
}

.reviews b {
    font-weight: bold;
}

#dots {
    display: flex;
    justify-content: center;
    margin: auto;
}

@keyframes dots {
    from {
        transform: scale(2, 2);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

#dots li {
    height: 10px;
    width: 10px;
    text-align: center;
    background: #cfd2d7;
    border-radius: 5px;
    margin: auto 7px;
    -webkit-animation: dots 1s forwards 2s;
    -o-animation: dots 1s forwards 2s;
    animation: dots 1s forwards 2s;
    opacity: 0;
}

#dots .selected {
    background: #c96500;
}

.mycontact {
    width: 100%;
    height: 858px;
    /*background: url(../img/Bg.png) no-repeat;*/
}

.mycontact h2 {
    padding-top: 109px;
    color: #ffffff;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.mycontact p {
    color: #fff;
    text-align: center;
    margin-top: 32px;
    font-size: 17px;
    -webkit-animation: comming 2s forwards 0.3s;
    -o-animation: comming 2s forwards 0.3s;
    animation: comming 2s forwards 0.3s;
    opacity: 0;
}

.contacts {
    /*width: 67.87037037%;*/
    text-align: center;
    margin: auto 16.064814815%;
}

@media (max-width: 1024px) {
    .contacts {
        margin: auto 0%;
    }
}



.contacts ul {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.contacts li {
    flex-basis: 25%;
    margin: 47px 40px auto 40px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    -webkit-animation: contactmove 2s forwards 0.7s;
    -o-animation: contactmove 2s forwards 0.7s;
    animation: contactmove 2s forwards 0.7s;
    opacity: 0;
}

@media (max-width: 669px) {
    .contacts  ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contacts li {
        margin: 47px 00px auto 0px;
    }

    .contacts li:nth-child(1) {
        flex-basis: 25%;
    }

    .contacts li:nth-child(2) {
        flex-basis: 25%;
    }

    .contacts li:nth-child(3) {
        flex-basis: 100%;
    }

    .mycontact {
        height: 978px;
    }

}

@media (max-width: 669px) {
    .mycontact {
        height: 998px;
    }
}

@media (max-width: 583px) {
    .mycontact {
        height: 1048px;
    }
}

@media (max-width: 487px) {
    .mycontact {
        height: 1078px;
    }
}

@keyframes contactmove {
    from {
        margin-top: 10px;
        opacity: 0;
    }

    to {
        margin-top: 47px;
        opacity: 1;
    }
}

.contacts img {
    margin-bottom: 15px;
}

.mycontact h3 {
    margin: 0 auto 45px auto;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-align: center;
    -webkit-animation: comming 2s forwards 0.9s;
    -o-animation: comming 2s forwards 0.9s;
    animation: comming 2s forwards 0.9s;
    opacity: 0;
}

.textar {
    width: 73.42592592%;
    text-align: center;
    color: #5d5d5e;
    font-size: 17px;
    -webkit-animation: textarmove 2s forwards 0.9s;
    -o-animation: textarmove 2s forwards 0.9s;
    animation: textarmove 2s forwards 0.9s;
    opacity: 0;
}

.textar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes textarmove {
    from {
        opacity: 0;
        margin-left: -26.5741%;
    }

    to {
        opacity: 1;
        margin-left: 12.5741%;
    }

}

.textar li {
    margin: auto 15px 14px 15px;
    padding-left: 0;
}


.textar li textarea {
    color: #5d5d5e;
    font-size: 17px;
    opacity: 0.8;
    overflow: hidden;
    resize: none;
    padding: 5px 7px;
}

.textar li:nth-child(-n + 2) {
    flex-basis: 32.59259259%; /*352px*/
}

.textar li:nth-child(-n + 2) textarea {
    width: 100%;
    height: 34px;
}

.textar li:nth-child(3) {
    flex-basis: 67.277777%; /*352px*/
}


.textar li:nth-child(3) textarea {
    width: 100%;/*732px*/
    height: 94px;
}

@media (max-width: 1024px) {
    .textar li:nth-child(-n + 2) {
        flex-basis: 42.59259259%; /*352px*/
    }
    .textar li:nth-child(3) {
        flex-basis: 89.777777%; /*352px*/
    }
}

.submit {
    display: flex;
    justify-content: center;
}

.mycontact form {
    width: 125px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    -webkit-animation: mcmove 2s forwards 1.2s;
    -o-animation: mcmove 2s forwards 1.2s;
    animation: mcmove 2s forwards 1.2s;
    opacity: 0;
}

@keyframes mcmove {
    from {
        opacity: 0;
        margin-top: -5%;
        margin-bottom: 5%;
    }

    to {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 0;
    }

}

.mycontact form input {
    background: none;
    font-size: 17px;
    color: #fff;
    padding: 10.5px;
    padding-top: 8px;
}


.mycontact form:hover {
    box-shadow: 0 0 10px #d17700;
    border-color: #d17700;
    transition: all 0.1s;
}

.mycontact form:hover input {
    color: #d17700;
    transition: all 0.1s;
}

.mycontact form:active {
    box-shadow: 0 0 15px #ff9100;
    border-color: #ff9100;
    transition: all 0.1s;
}

.mycontact form:active input {
    color: #ff9100;
    transition: all 0.1s;
}

@media (max-width: 590px) {
    .textar li:nth-child(-n + 2) {
        flex-basis: 100%; /*352px*/
    }

    .textar li:nth-child(3) {
        flex-basis: 100%; /*352px*/
    }
}

.socsites {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 52px;
    -webkit-animation: comming 2s forwards 1.9s;
    -o-animation: comming 2s forwards 1.9s;
    animation: comming 2s forwards 1.9s;
    opacity: 0;
}

.socsites li {
    float: left;
    margin-right: 52px;
}

.socsites li:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s;
}

.geo {
    width: 100%;
    height: 400px;
}

footer {
    height: 96px;
    text-align: center;
    background: #354051;
    color: #fff;
    padding-top: 41px;
}