.about_me_container h2 {
    padding-top: 100px;
    color: #372b46;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
@media (max-width: 1440px) {
    .about_me_container h2 {
        padding-top: 90px;
    }
}
@media (max-width: 1024px) {
    .about_me_container h2 {
        padding-top: 65px;
    }
}
@media (max-width: 800px) {
    .about_me_container h2 {
        padding-top: 40px;
    }
}
.line {
    width: 72px;
    height: 4px;
    background: #d17700;
    margin: 31px auto auto auto;
}
.mycontact .line,
.price .line {
    box-shadow: 0 0 13px #df8d22;
}
.line.show-animation {
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}
.guyround {
    display: block;
    margin: 59px auto auto auto;
    text-align: center;
    opacity: 0;
}
.guyround.show-animation {
    -webkit-animation: comming forwards 4s;
    -o-animation: comming forwards 4s;
    animation: comming forwards 4s;
}
.about_me_container p {
    margin: 22px auto 0 auto;
    padding-bottom: 40px;
    width: 40%;
    color: #362c41;
    opacity: 0;
}
.about_me_container p.show-animation {
    -webkit-animation: a_pmove forwards 2s;
    -o-animation: a_pmove forwards 2s;
    animation: a_pmove forwards 2s;
}
@media (max-width: 425px) {
    .about_me_container p {
        width: 70%;
    }
}
@keyframes a_pmove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.about_me_container a {
    display: block;
    text-align: center;
    width: 158px;
    margin: auto;
    padding: 5px 7px 7px;
    margin-bottom: 98px;
    color: #372b46;
    border: 2px solid #372b46;
    border-radius: 5px;
    opacity: 0;
    text-decoration: none;
    font-weight: bolder;
}
.about_me_container a.show-animation {
    -webkit-animation: comming 1s forwards 1s;
    -o-animation: comming 1s forwards 1s;
    animation: comming 1s forwards 1s;
}
.about_me_container a:hover {
    box-shadow: 0 0 10px #d17700;
    border-color: #d17700;
    color: #d17700;
    transition: all 0.1s;
}
.about_me_container a:active {
    transform: scale(0.95);
}
.wican_container {
    width: 100%;
    height: 523px;
}
.wican_container h2 {
    padding-top: 100px;
    color: #372b46;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    .wican_container h2 {
        padding-top: 90px;
    }
}
@media (max-width: 800px) {
    .wican_container h2 {
        padding-top: 65px;
    }
}
.wican {
    text-align: center;
    opacity: 0;
}
.wican.show-animation {
    -webkit-animation: wicanmove 2s forwards 0.7s;
    -o-animation: wicanmove 2s forwards 0.7s;
    animation: wicanmove 2s forwards 0.7s;
}
@keyframes wicanmove {
    from {
        margin-top: 0;
        opacity: 0;
    }
    to {
        margin-top: 106px;
        opacity: 1;
    }
}
.wican img {
    margin-bottom: 35px;
}
.wican ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.wican li {
    color: #d17700;
    font-size: 16px;
    flex-basis: 14.3229166%;
}
@media (max-width: 1384px) {
    .wican ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .wican li {
        flex-basis: 22%;
        padding-bottom: 60px;
    }
}
@media (max-width: 768px) {
    .wican_container {
        height: 703px;
    }
    .wican li {
        flex-basis: 38%;
    }
}
@media (max-width: 425px) {
    .wican_container {
        height: 1253px;
    }
    .wican li {
        flex-basis: 70%;
        padding-bottom: 60px;
    }
}
.wican p {
    color: #372b46;
    margin-top: 15px;
}
.cases {
    width: 100%;
}
.cases h2 {
    padding-top: 110px;
    color: #372b46;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
.cases p {
    text-align: center;
    color: #372b46;
    margin-top: 36px;
}
.cases p.show-animation {
    -webkit-animation: comming ease 4s;
    -o-animation: comming ease 4s;
    animation: comming ease 4s;
}
.carousel {
    opacity: 0;
}
.carousel.show-animation {
    -webkit-animation: scale forwards 3s;
    -o-animation: scale forwards 3s;
    animation: scale forwards 3s;
}
@media (max-width: 1124px) {
    .cases img {
        width: 90.885416%;
        margin-left: 4.55729%;
        margin-right: 4.55729%;
    }
}
@keyframes scale {
    from {
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.cases ul {
    display: flex;
    width: 80.44271%;
    margin: auto 19.55729%;
}
.li_1 {
    flex: 1;
    opacity: 0;
}
.li_1.show-animation {
    -webkit-animation: comming 1s forwards 1.4s;
    -o-animation: comming 1s forwards 1.4s;
    animation: comming 1s forwards 1.4s;
}
@keyframes li_2move {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.li_1 h4 {
    color: #372b46;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.li_1 div {
    color: #372b46;
    line-height: 2;
}
.li_1 a {
    height: 44px;
    width: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #638db5;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
}
.li_1 a:hover {
    background: #ff9102;
    color: #372b46;
    box-shadow: 0 0 16px #ff960d;
    transition: all 0.1s;
}
.li_1 a:active {
    background: #ffaf02;
    box-shadow: 0 0 30px #ffaf02;
    transition: all 0.1s;
}
.li_2 {
    flex: 3;
    margin-right: 29.325%;
    opacity: 0;
}
.li_2.show-animation {
    -webkit-animation: li_2move 1s forwards 1s;
    -o-animation: li_2move 1s forwards 1s;
    animation: li_2move 1s forwards 1s;
}
.li_2 h4 {
    color: #372b46;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2;
}
.li_2 div {
    color: #372b46;
}
@media (max-width: 1264px) {
    .cases ul {
        width: 90%;
        margin: auto 5%;
    }
    .li_2 {
        margin-right: 0;
    }
    .li_1 {
        margin-left: 0;
    }
}
@media (max-width: 425px) {
    .cases ul {
        width: 100%;
        margin: auto 0;
    }
    .li_1 a {
        width: 151px;
    }
}
.price {
    margin-top: 20px;
    background: #1f1f1f;
    color: #ececec;
}
.price h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
.price h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.params {
    width: 49.6016%;
    padding-left: 0;
    margin: 58px 26.796875% auto 26.796875%;
    opacity: 0;
}
.params.show-animation {
    -webkit-animation: priceLiMove 1s forwards;
    -o-animation: priceLiMove 1s forwards;
    animation: priceLiMove 1s forwards;
}
.params li:nth-child(1) {
    animation-delay: 0.8s;
}
.params li:nth-child(2) {
    animation-delay: 1s;
}
.params li:nth-child(3) {
    animation-delay: 1.2s;
}
@keyframes priceLiMove {
    from {
        margin-left: -26.796875%;
        opacity: 0;
    }
    to {
        margin-left: 26.796875%;
        opacity: 1;
    }
}
.params select {
    color: #3b3b3b;
    background-color: #eee;
    height: 57px;
    width: 100%;
    padding-left: 24px;
    margin-top: 22px;
    margin-bottom: 49px;
    font-size: 15px;
}
.line2 {
    width: 49.6016%;
    height: 2px;
    margin: -13px 26.796875% auto 26.796875%;
    background-color: #e68910;
    box-shadow: 0 0 16px #d17700;
    opacity: 0;
}
.line2.show-animation {
    -webkit-animation: comming 1s forwards 0.8s;
    -o-animation: comming 1s forwards 0.8s;
    animation: comming 1s forwards 0.8s;
}
.total {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    padding-bottom: 20px;
}
.total.show-animation {
    -webkit-animation: comming 1s forwards 1s;
    -o-animation: comming 1s forwards 1s;
    animation: comming 1s forwards 1s;
}
.total ul {
    padding-left: 0;
    width: 49.6016%;
    margin: 0 26.796875% auto 26.796875%;
    text-align: justify;
}
@media (max-width: 1024px) {
    .line2,
    .params,
    .total ul {
        width: 69.6016%;
        margin-left: 15.1992%;
    }
    @keyframes priceLiMove {
        from {
            margin-left: -26.796875%;
            opacity: 0;
        }
        to {
            margin-left: 15.1992%;
            opacity: 1;
        }
    }
}
.left {
    float: left;
    text-align: left;
}
.right {
    text-align: right;
    font-weight: 700;
}
.price a {
    height: 44px;
    width: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    margin-bottom: 41px;
    background: #638db5;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
}
.price a:hover {
    background: #7232c0;
    color: #fff;
    box-shadow: 0 0 16px #7232c0;
    transition: all 0.1s;
}
.price a:active {
    background: #9148e9;
    box-shadow: 0 0 30px #9148e9;
    transition: all 0.1s;
}
.statistics_container {
    width: 100%;
    height: 523px;
}
.statistics_container h2 {
    padding-top: 100px;
    color: #372b46;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    .statistics_container h2 {
        padding-top: 90px;
    }
}
@media (max-width: 800px) {
    .statistics_container h2 {
        padding-top: 65px;
    }
}
.statistics {
    margin: 106px 0 auto 0;
    text-align: center;
    opacity: 0;
}
.statistics.show-animation {
    -webkit-animation: wicanmove 2s forwards 0.7s;
    -o-animation: wicanmove 2s forwards 0.7s;
    animation: wicanmove 2s forwards 0.7s;
}
.statistics img {
    margin-bottom: 35px;
}
.statistics ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.statistics li {
    flex-basis: 14.3229166%;
    font-size: 20px;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: bolder;
}
@media (max-width: 1384px) {
    .statistics ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .statistics li {
        flex-basis: 22%;
        padding-bottom: 60px;
    }
}
@media (max-width: 768px) {
    .statistics_container {
        height: 703px;
    }
    .statistics li {
        flex-basis: 38%;
    }
}
@media (max-width: 425px) {
    .statistics_container {
        height: 1253px;
    }
    .statistics li {
        flex-basis: 70%;
        padding-bottom: 60px;
    }
}
.statistics p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
.reviews_container {
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.reviews_container h2 {
    padding-top: 107px;
    color: #372b46;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
.reviews_container img {
    margin: 58px auto 35px auto;
}
.reviews {
    width: 300%;
    display: flex;
    position: relative;
    left: 0;
}
.reviewImg {
    text-align: center;
    display: block;
    opacity: 0;
    transition-timing-function: unset;
}
.reviewImg.show-animation {
    -webkit-animation: comming forwards 2s 0.1s;
    -o-animation: comming forwards 2s 0.1s;
    animation: comming forwards 2s 0.1s;
}
.reviews_container .text {
    width: 35.9375%;
    text-align: center;
    opacity: 0;
}
.reviews_container .text.show-animation {
    -webkit-animation: revDivMove 1s forwards 0.7s;
    -o-animation: revDivMove 1s forwards 0.7s;
    animation: revDivMove 1s forwards 0.7s;
}
@keyframes revDivMove {
    from {
        opacity: 0;
        margin-left: 0;
    }
    to {
        opacity: 1;
        margin-left: 32.03125%;
    }
}
@media (max-width: 1424px) {
    .reviews_container .text {
        width: 75.9375%;
        margin: auto 12.03125%;
    }
    @keyframes revDivMove {
        from {
            opacity: 0;
            margin-left: 0;
        }
        to {
            opacity: 1;
            margin-left: 12.03125%;
        }
    }
}
.reviews p {
    margin-top: 37px;
    margin-bottom: 48px;
}
.reviews b {
    font-weight: 700;
}
#dots {
    display: flex;
    justify-content: center;
    margin: auto;
}
@keyframes dots {
    from {
        transform: scale(2, 2);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
#dots button {
    height: 10px;
    width: 10px;
    text-align: center;
    background: #cfd2d7;
    border-radius: 5px;
    margin: auto 7px 50px 7px;
    opacity: 0;
    transition: all 0.3s;
}
#dots button.show-animation {
    -webkit-animation: dots 1s forwards 2s;
    -o-animation: dots 1s forwards 2s;
    animation: dots 1s forwards 2s;
}
#dots .selected {
    background: #c96500;
    transition: all 0.3s;
}
.mycontact h2 {
    padding-top: 70px;
    color: #fff;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
}
.mycontact p {
    color: #fff;
    text-align: center;
    margin-top: 32px;
    font-size: 17px;
    opacity: 0;
}
.mycontact p.show-animation {
    -webkit-animation: comming 2s forwards 0.3s;
    -o-animation: comming 2s forwards 0.3s;
    animation: comming 2s forwards 0.3s;
}
.parallaxSizeFix {
    height: 25px;
}
.contacts {
    text-align: center;
    margin: auto 16.064814815%;
}
@media (max-width: 1024px) {
    .contacts {
        margin: auto 0;
    }
}
.contacts ul {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.contacts li {
    flex-basis: 25%;
    margin: 47px 40px auto 40px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
}
.contacts a {
    color: #d17000;
    text-decoration: none;
}
.contacts a:hover {
    color: #e9912d;
}
.contacts li.show-animation {
    -webkit-animation: contactmove 2s forwards 0.7s;
    -o-animation: contactmove 2s forwards 0.7s;
    animation: contactmove 2s forwards 0.7s;
}
@media (max-width: 669px) {
    .contacts ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts li {
        margin: 47px 00px auto 0;
    }
    .contacts li:nth-child(1) {
        flex-basis: 25%;
    }
    .contacts li:nth-child(2) {
        flex-basis: 25%;
    }
    .contacts li:nth-child(3) {
        flex-basis: 100%;
    }
}
@keyframes contactmove {
    from {
        margin-top: 10px;
        margin-bottom: 37px;
        opacity: 0;
    }
    to {
        margin-top: 47px;
        margin-bottom: 0;
        opacity: 1;
    }
}
.contacts img {
    margin-bottom: 15px;
}
.mycontact h3 {
    margin: 0 auto 45px auto;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-align: center;
    opacity: 0;
}
.mycontact h3.show-animation {
    -webkit-animation: comming 2s forwards 0.9s;
    -o-animation: comming 2s forwards 0.9s;
    animation: comming 2s forwards 0.9s;
}
.textar {
    text-align: center;
    color: #5d5d5e;
    font-size: 17px;
    opacity: 0;
    margin-bottom: 28px;
}
.textar.show-animation {
    -webkit-animation: textarmove 2s forwards 0.9s;
    -o-animation: textarmove 2s forwards 0.9s;
    animation: textarmove 2s forwards 0.9s;
}
.textar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes textarmove {
    from {
        opacity: 0;
        margin-left: -26.5741%;
    }
    to {
        opacity: 1;
        margin-left: calc(50% - 243px);
    }
}
.textar li {
    width: 425px;
    margin-bottom: 14px;
}
.textar li input {
    color: #5d5d5e;
    font-size: 17px;
    opacity: 0.8;
    overflow: hidden;
    resize: none;
    padding: 5px 7px;
}
.textar li input {
    width: 100%;
}
.submit {
    display: flex;
    justify-content: center;
}
.submit input {
    width: 125px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
}
@keyframes mcmove {
    from {
        opacity: 0;
        margin-top: -2%;
        margin-bottom: 2%;
    }
    to {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.submit input {
    background: 0 0;
    font-size: 17px;
    color: #fff;
    padding: 10.5px;
    padding-top: 8px;
}
.submit input:hover {
    box-shadow: 0 0 10px #d17700;
    border-color: #d17700;
    transition: all 0.1s;
}
.submit input:hover {
    color: #d17700;
    transition: all 0.1s;
}
.submit input:active {
    box-shadow: 0 0 15px #ff9100;
    border-color: #ff9100;
    transition: all 0.1s;
}
.submit input:active {
    color: #ff9100;
    transition: all 0.1s;
}
@media (max-width: 590px) {
    .textar li:nth-child(-n + 2) {
        flex-basis: 100%;
    }
    .textar li:nth-child(3) {
        flex-basis: 100%;
    }
}
.socsites {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 52px;
    padding-right: 20px;
    opacity: 0;
}
.socsites li {
    float: left;
    margin-right: 52px;
    opacity: 0.7;
    cursor: pointer;
}
.socsites li:nth-child(2) {
    transform: translateY(2px);
}
.socsites li:hover {
    opacity: 1;
    transition: all 0.2s;
}
.socsites.show-animation {
    -webkit-animation: comming forwards 0.9s;
    -o-animation: comming forwards 0.9s;
    animation: comming forwards 0.9s;
}
footer {
    height: 96px;
    text-align: center;
    background: #1f1f1f;
    color: #fff;
    padding-top: 41px;
}
.number {
    opacity: 0;
}
.viz {
    transition: 1s;
    opacity: 1;
}
.ymap-container {
    position: relative;
    margin: 3em 0 2em 0;
    overflow: hidden;
    cursor: pointer;
    background: url("../img/yandex-before-load.png") #fff no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
}
#map-yandex {
    position: relative;
    z-index: 7;
    width: 100%;
    height: 20em;
    cursor: pointer;
    background-color: transparent;
}
.loader {
    position: absolute;
    z-index: 15;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
    transition: opacity 0.7s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.loader:after,
.loader:before {
    box-sizing: border-box;
}
.loader.is-active {
    top: 0;
    opacity: 1;
}
.loader-default:after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: "";
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: solid 8px #fff;
    border-left-color: transparent;
    border-radius: 50%;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes blink {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
@keyframes blink {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
